<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <!-- <p class="text">Welcome You Have logged in Successfully !</p> -->
    <div class="line_1">
        <p class="heading">My Profile</p>
    </div>
    <hr class="hr_1">
    <div class="userContent line_2">
        <div class="name">
            <div class="segment">Name : </div>
            <div class="segment">Mail Adderss :</div>
            <div class="segment">Date of birth :</div>
            <div class="segment">Username :</div>
            <div class="segment">Password :</div>
        </div>
        <div class="InfoDB">
            <div class="nameDB"> Guest </div>
            <div class="mailDB"> N . A</div>
            <div class="dobDB">00-00-0000</div>
            <div class="usernameDB">Guest</div>
            <div class="passwordDB">N . A</div>
        </div>
       
    </div>
    <hr class="hr_2">
    <div class="edit">
        <button class="Edit_" onclick="redir()">
            Edit INFO ?
        </button>
        <button class="Edit_ out" onclick="logout()">
            Log Out
        </button>
    </div>
    <script src="js/all.js"></script>
</body>
</html>