<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign IN</title>
    <link rel="stylesheet" href="css/signIN.css">
</head>
<body>
    <p class="text_1">Please SignIn to continue </p>
    <div class="container">
        <form class="form">
            <input type="text" name="username" class="usrnme_IN" placeholder="USERNAME">
            <input type="password" name="password" class="pswd_IN" placeholder="PASSWORD">
        </form>
        <div class="buttonEff">
            <button class="submit s" onclick="verifyData()">Submit </button>
            <div class="sider s"></div>
        </div>
    </div>
    <p class="flash_V"></p>
    <script src="js/all.js"></script>
</body>
</html>